<%= will_paginate(@ausers) %>  
<div class = 'fondo'>
<div class = ' grafica '>

  
<%= chart "finanzas_chart",
          1.day * 1000,
          current_user.movements.first.created_at.to_i * 1000,
          Saving.new(current_user).cumulative_savings,
          current_user.ahorro %>




</div>
</div>