
<body id = 'home'>
	<button class="botonentrar">
	 	<%= link_to  'Entrar', new_user_session_path  %>
	</button>

	 <button class = 'botonnuevo'>
	 	<%= link_to 'Nuevo usuario', new_user_registration_path  %>
	 </button>
</body>	