<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome</title>
<header><h1 class = 'bienvenido'>¡Bienvenido a tu cerdito virtual!</h1> </header>
	
</head>
<body class='container-fluid' id = 'home'>
	
</body>
</html>