	<div class = 'incomepig'>
		<%= image_tag "cerditorojas.jpg", class: "rojas" %>
	</div>
	<div class = 'texto'>

		<h1><%= number_to_currency(@income.amount) %>
		<small><%= @income.description %></small></h1>
		<%= link_to 'Volver', movements_path %>

	</div>


	
	<section class = "prueba2">

		<div class = "consejo">
		<p class = "p">Si la Declaración de la Renta sale a devolver, se dispondrá de una cantidad fija para disfrutar de ella todos los años, que será reembolsada de forma íntegra a partir de su formalización.</p>
	</div>

	</section>


