
.welcome{
  
  display: inline-block;
  

}

.logout {

  float:right;
  display: inline-block;
}



.movements{

	background: url(cerdito.jpg)no-repeat center center fixed;
 	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: auto;
   	height: 1000px;


  }

  .container-fluid {
  	margin-top:50px;
  }

.income {
	margin-top: 50px;
}

.expense {
	margin-top: 20px;
}

.listaincom {
  
	margin-top: 30px;

}

.listaexpen{
  
	margin-top: 30px;
  margin-right:400px;

}

.listadesc {

  
  float:left;
  margin-left:300px;
  margin-top: -69px;
  display: inline-block;
}

.listadesc2 {

  
  float:left;
  margin-left:300px;
  margin-top: -49px;
  display: inline-block;
}

.neto{
  
  margin-top:56px;

}

.cuanto {
  float:left;
  display: inline-block;
  margin-top:29px;
  
}
.cantidad {
  float:left;
  display: inline-block;
  margin-top:50px;
  margin-left:10px;
  
}

.btn-info {
  margin-top:47px;
  margin-left:5px;
}

.ahorro {
  float:left;
  display: inline-block;
  margin-top:50px;
  margin-left:10px;

}

.botonahorro {
  float:left;
  display: inline-block;
  margin-top:46px;
  margin-left:10px;
}