#block3 {
    
    background:#D0D0D0 ;
    border:3px solid #F50077;
    font-family:Georgia,"Times New Roman",Times,serif;
    margin:20px 0px;
    padding:20px;
    position:relative;
    z-index:5;
}  

#block3 .date {
    background:#F50077 none repeat scroll 0 0;
    color:#D0D0D0 ;
    font-size:130%;
    height:40px;
    left:-55px;
    line-height:30%;
    padding:7px 0 5px;
    position:absolute;
    text-align:center;
    text-transform:uppercase;
    top:0;
    width:54px;
}
#block3 .date span {
    display:block;
    font-size:170%;
    font-style:italic;
    font-variant:normal;
    letter-spacing:-1px;
    line-height:90%;
}
#block3 .tags {
    text-transform:capitalize;
}
#block3 .tags a{
    color:#F50077;
    font-weight:bold;
}
#block3 h1, h2 {
    color:#2B2B2B;
    font-size:190%;
    font-weight:bold;
    letter-spacing:-1px;
    line-height:100%;
    margin-left:-2px;
    padding:0 0 8px;
}

.container-fluid{
  padding-left:63px;
}
.welcome{
  
  display: inline-block;
 
  

}

.logout {

  float:right;
  display: inline-block;
  margin-top: -29px;
}



.movements{

	background: url(cerdito.jpg)no-repeat center center fixed;
 	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: auto;
   	height: 1000px;


  }

 

.income {
	margin-top: 50px;
}

.expense {
	margin-top: 20px;
}

.listaincom {
  
	margin-top: 30px;

}

.listaexpen{
  
	margin-top: 30px;
  margin-right:400px;

}

.listadesc {

  
  float:left;
  margin-left:300px;
  margin-top: -49px;
  display: inline-block;
}

.listadesc2 {

  
  float:left;
  margin-left:300px;
  margin-top: -105px;
  display: inline-block;
}

.neto{
  
  margin-top:56px;

}
#data-sum{
  border:2px solid #D0D0D0 ;
  padding: 5px;
  margin-right: 800px;
  text-align: center;
}

.cuanto {
  float:left;
  display: inline-block;
  margin-top:29px;
  
}
.cantidad {
  float:left;
  display: inline-block;
  margin-top:50px;
  margin-left:10px;
  
}

.btn-success {
  background:#F50077;
}
.ahorro {
  float:left;
  display: inline-block;
  margin-top:50px;
  margin-left:10px;

}

.botonahorro {
  float:left;
  display: inline-block;
  margin-top:46px;
  margin-left:10px;
}