#movements{

	background: url(cerdito.jpg)no-repeat center center fixed;
 	-webkit-background-size: cover;
   	-moz-background-size: cover;
   	-o-background-size: cover;
   	background-size: auto;
   	height: 1000px;

  }

  .container-fluid {
  	margin-top:100px;
  }

.income {
	margin-top: 20px;
}

.expense {
	margin-top: 20px;
}

.listaincom {
	margin-top: 20px;
}

.listaexpen{
	margin-top: 20px;
}