	
	<div class = 'incomepig'>
		<%= image_tag "cerditorojas.jpg"%>
	</div>
	<div class = 'texto'>

		<h1><%= number_to_currency(@expense.amount) %>
		<small><%= @expense.description %></small></h1>
		<%= link_to 'Volver', movements_path %>

	</div>
