	
	<div class = 'incomepig'>
		<%= image_tag "cerditorojas.jpg"%>
	</div>
	<div class = 'texto'>

		<h1><%= number_to_currency(@expense.amount) %>
		<small><%= @expense.description %></small></h1>
		<%= link_to 'Volver', movements_path %>

	</div>


	
	

		

		<section class = "prueba">	

	<div class = "consejo">

		<!--  Carousel - consult the Twitter Bootstrap docs at 
		  http://twitter.github.com/bootstrap/javascript.html#carousel -->
	<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
	  <div class="carousel-inner">
		<div class="item active"><!-- class of active since it's the first item -->
		  <div class="carousel-caption">
			<p class = "p1">Elabora un menú semanal diferenciando desayuno, comida y cena, y la gente que vais a ser. Evitará que compres de más.</p>
		  </div>
		</div>
		<div class="item">
		  <div class="carousel-caption">
			<p class = "p1">Descongelar el frigorífico antes de que acumule 3 milímetros de hielo.
		Podrás ahorrar hasta un 30% de energía.</p>
		  </div>
		</div>
		<div class="item">
		  <div class="carousel-caption">
			<p class = "p1">No utilizar ni lavadoras ni lavavajillas a media carga.</p>
		  </div>
		</div>
		<div class="item"> 
		  <div class="carousel-caption">
			<p class = "p1">Elabora un presupuesto semanal, así sabrás en qué límites debes moverte.</p>
		  </div>
		</div>
	  </div><!-- /.carousel-inner -->
	  <!--  Next and Previous controls below
			href values must reference the id for this carousel -->
		<a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
	</div><!-- /.carousel -->
	
	<script src="js/jquery.min.js"></script>	
	<script src="js/bootstrap.min.js"></script>
	
</div>	
	</section>
