	
	<div class = 'incomepig'>
		<%= image_tag "cerditorojas.jpg"%>
	</div>
	<div class = 'texto'>

		<h1><%= number_to_currency(@expense.amount) %>
		<small><%= @expense.description %></small></h1>
		<%= link_to 'Volver', movements_path %>

	</div>


	
	<section class = "prueba">
	
		

	<div class = "consejo">
		<p class = "p">Descongelar el frigorífico antes de que acumule 3 milímetros de hielo.
		Podrás ahorrar hasta un 30% de energía.</p>
	</div>

	</section>
