<div class="field">
	<%= form.label :amount %>
	<%= form.number_field :amount, min: 0, step: 0.01 %>
</div>

<div class="actions">
	<%= form.submit %>
	<button type="button" class="btn btn-success">Success</button>
</div>